<!-- HERO SECTION  -->
	<div class="site-hero_2">
		<div class="page-title">
				
<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
						<span><%= @category_name %></span>
						
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="section-title" style="text-align:left;float:left; font-size:16px;width:100%;margin-bottom:0">
						<p class="title-blog-directory uppercase"><i class="icon ion-android-arrow-dropright"></i> <%= link_to @blog.similar_title, @blog.site_url, target: "_blank" %></p>
						<p class="description-titulo-blog">Blog de viajes con experiencias, visitas recomendadas y los mejores consejos para planificar tu viaje turístico, con fotos y vídeos.</p>
					</div>
				</div>		
				
			</div>
		</div>
	</section>
		</div>
	</div>


	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">

					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory-2" src="assets/img/icon/beach.png" /> -->
              <% case @category_name %>
              <% when "+500K" %>
                <%= image_tag("icon/rocket.png", alt: "rocket", class: "icon-top-directory-2") %><br />
              <% when "+250K" %>
                <%= image_tag("icon/beach.png", alt: "beach", class: "icon-top-directory-2") %><br />
              <% when "+50K" %>
                <%= image_tag("icon/check-out.png", alt: "check-out", class: "icon-top-directory-2") %><br />
              <% when "+1K" %>
                <%= image_tag("icon/parasailing.png", alt: "parasailing", class: "icon-top-directory-2") %><br />
              <% when "United States" %>
                <%= image_tag("icon/caravan.png", alt: "caravan", class: "icon-top-directory-2") %><br />
              <% when "France" %>
                <%= image_tag("icon/travel.png", alt: "travel", class: "icon-top-directory-2") %><br />
              <% when "Spain" %>
                <%= image_tag("icon/sunbed.png", alt: "sunbed", class: "icon-top-directory-2") %><br />
              <% when "Philippines" %>
                <%= image_tag("icon/backpack.png", alt: "backpack", class: "icon-top-directory-2") %><br />
              <% end %>
							<p class="montserrat-text uppercase service-title directori-size"><%= @blogs_category.length %> Blogs</p>
							<ul class="list">
                <% i = 0
                @blogs_category.each do |blog| %>
                  <% if i < (@blogs_category.length/2)%>
                    <li class="li-especial"><%= link_to blog.similar_title, controller: "blogs", action: "show", category: "500k", title: blog.similar_title %><br><span style="font-size:13px; color:#ff5f00;">
                    <% if @category_name == "United States" or @category_name == "France" or @category_name == "Spain" or @category_name == "Philippines"%>
                      <% if blog.total_traffic_first_country < 1000 %>
                        <%= blog.total_traffic_first_country %>
                      <% else %>
                        <%= blog.total_traffic_first_country/1000 %>K
                      <% end %>
                    <% else %>
                      <% if blog.total_visits < 1000 %>
                        <%= blog.total_visits %>
                      <% else %>
                        <%= blog.total_visits/1000 %>K
                      <% end %>
                    <% end %>
                    </span></li>
                  <% i += 1
                  end %>
                <% end %>							
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="row">
							
							
							<ul class="list">
                <% i = 0
                @blogs_category.each do |blog| %>
                  <% if i >= (@blogs_category.length/2)%>
                    <li class="li-especial"><%= link_to blog.similar_title, controller: "blogs", action: "show", category: "500k", title: blog.similar_title %><br><span style="font-size:13px; color:#ff5f00;">
                       <% if @category_name == "United States" or @category_name == "France" or @category_name == "Spain" or @category_name == "Philippines"%>
                      <% if blog.total_traffic_first_country < 1000 %>
                        <%= blog.total_traffic_first_country %>
                      <% else %>
                        <%= blog.total_traffic_first_country/1000 %>K
                      <% end %>
                    <% else %>
                      <% if blog.total_visits < 1000 %>
                        <%= blog.total_visits %>
                      <% else %>
                        <%= blog.total_visits/1000 %>K
                      <% end %>
                    <% end %>
                    </span></li>
                  <% end %>
                <% i += 1
                end %>	
							</ul>
						</div>
					</div>

					
				</div><!-- end col -->

				<div class="col-md-6">
					<div id="map" style="width:100%"><img src="assets/img/screenshot/guias-viajar.png" /></div>
				</div>
				<div class="row">
				<div class="col-md-6 wow fadeInUp lista-info">
					<div class="col-md-6">
						<div class="row">
							<ul class="no-list">
								<li><!-- <img src="assets/img/group.png"  class="img-icon" /> -->
                <%= image_tag("group.png", alt: "group", class: "img-icon") %></li>
                <% if @category_name == "United States" or @category_name == "France" or @category_name == "Spain" or @category_name == "Philippines"%>
								  <li style="text-transform: uppercase;"> VISITS FROM <%= @category_name%><br><span style="font-size:30px; color:#7beec7;     font-weight: 700;"><%= @blog.total_traffic_first_country/1000.0 %>K</span></li>
                <% else %>
                  <li > TOTAL VISITS<br><span style="font-size:30px; color:#7beec7;     font-weight: 700;">496.1K</span></li>
                <% end %>
								<li><!-- <img src="assets/img/bus.png" style="padding-top: 10px;"  class="img-icon" /> -->
                <%= image_tag("bus.png", alt: "bus", class: "img-icon img-icon2") %>        
                </li>
								<li > FACEBOOK<br><span style="font-size:30px; color:#7beec7;     font-weight: 700;">416188</span></li>
								
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<ul class="no-list">
								<li><!-- <img src="assets/img/traffic-light.png" class="img-icon" /> -->
                <%= image_tag("traffic-light.png", alt: "traffic-light", class: "img-icon") %>        
                </li>
								<li > BEST TRAFFIC SOURCES<br><span style="font-size:30px; font-weight: 700; color:#7beec7;">80.10% search</span></li>
								<li><!-- <img src="assets/img/stopwatch.png" style="padding-top: 10px;" class="img-icon" /> -->
                <%= image_tag("stopwatch.png", alt: "stopwatch", class: "img-icon img-icon2") %>        
                </li>
								<li > TIME ON SITE<br><span style="font-size:30px; font-weight: 700; color:#7beec7;"><%= "#{'%02d' % @blog.average_duration.hour}:#{'%02d' % @blog.average_duration.min}:#{'%02d' % @blog.average_duration.sec}" %></span></li>
							</ul>
						</div>
					</div>
				</div>

				

			</div>
		</div>
	</section>
  <%= render "/welcome/newsletter" %>