<!-- HERO SECTION  -->
	<div class="site-hero_3">

	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
						<span>about us</span>
						<p class="montserrat-text uppercase">We believe in sophistication</p>
					</div>

					<p class="text-align-about">Travel is one of the more competitive online industry and with c.80% online penetration, it is also one of the largest online industries. We believe that sophistication makes the difference between regular blogs and outstanding ones. We have been in the travel industry for years and have managed blogs and experienced most of the pains someone can face when creating travel content. We want to leverage our experience to help Travel Blogs achieve dinstinction.</p>
				</div>
				<div class="col-md-6">
					<div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
						<span>what we do</span>
						<p class="montserrat-text uppercase">Resources &amp; surveys</p>
					</div>

					<p class="text-align-about">Our objective is to help Travel Bloggers get the best out of their work.  We help travel blogs find the best resources to increase their traffic, optimize their revenue and understand better their traffic. This industry is very competitive but also very wide, we are here to help Bloggers establish best practices and help them find their path to greatness.</p>
				</div>
			</div>

		</div>

	</section>




	<section>
		<div class="container">
			<div class="row">
			<hr style="width: 100%;">
				<div class="section-title">

					<span>The team</span>
					<p>Our team curates and gathers the best blogs, innovating resources and tools for the Travel Blogger community.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
					<div class="team_member">
						<!-- <img src="assets/img/florian.jpg" alt="team image">	 -->
						<%= image_tag("florian.jpg", alt: "team image") %>	
						<div class="team_member_hover">
							<div class="team_member_info">
								<div class="team_member_name">Florian Mesny</div>
								<div class="team_member_job">Editor</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
					<div class="team_member">
						<!-- <img src="assets/img/kati.jpg" alt="team image">	 -->
						<%= image_tag("kati.jpg", alt: "team image") %>
						<div class="team_member_hover">
							<div class="team_member_info">
								<div class="team_member_name">Katarzyna Miziniak</div>
								<div class="team_member_job">Design</div>
							</div>
						</div>
					</div>				
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".3s">
					<div class="team_member">
						<!-- <img src="assets/img/pierre.jpg" alt="team image">	 -->
						<%= image_tag("alfonso.jpg", alt: "team image") %>
						<div class="team_member_hover">
							<div class="team_member_info">
								<div class="team_member_name">Alfonso Garcia-Valdecasas</div>
								<div class="team_member_job">Data Analyst</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
					<div class="team_member">
						<!-- <img src="assets/img/damian.jpg" alt="team image">	 -->
						<%= image_tag("damian.jpg", alt: "team image") %>
						<div class="team_member_hover">
							<div class="team_member_info">
								<div class="team_member_name">Damian Martinez</div>
								<div class="team_member_job">Developer</div>
							</div>
						</div>
					</div>				
				</div>				
			</div>
		</div>
	</section>

	<section>
        <div class="container">
            <div class="row">
                <hr style="width: 100%;">
                <div class="col-md-6">
                    <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                        <span>Methodology</span>
                        <p class="montserrat-text uppercase">Selection</p>
                    </div>

                        <p class="text-align-about">The initial selection of the blogs has been made manually by the Travel Often Team by browsing the web in search of blogs with strong travel component. The selection of the blogs is however opened and any travel blogger can submit his blog to the Team's review: <a href="https://pie2re.typeform.com/to/y4fjvj">here</a>. If the submitted blog matches the selection criteria it will be added to the Directory. Upon accpetance, it generally takes 7 days before appearing into the directory.</p>

                    <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                        <p class="montserrat-text uppercase">Ranking</p>
                    </div>

                        <p class="text-align-about">The ranking is currently based on the last available monthly traffic estimate from SimilarWeb. For the ranking by country: the rank is calculated by the total number of estimated visits coming from the first country in term of source of traffic.</p>
                </div>

                <div class="col-md-6">
                    <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                        <span>Acknowledgments</span>
                        <p class="montserrat-text uppercase">SimilarWeb: traffic information</p>
                    </div>
                        <p class="text-align-about">SimilarWeb is one of the best source of traffic estimation for website. <br>Try it out here: <a href="https://www.similarweb.com/">https://www.similarweb.com/</a></p>
                    <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">    
                        <p class="montserrat-text uppercase">Amine akhouad: HTML template</p>
                    </div>
                        <p class="text-align-about">Amine akhouad is a web designer &amp; front end developer from Agadir - Morocco. <br>Acces his Dribble account here: <a href="https://dribbble.com/akhouad">Amine akhouad <i class="icon ion-social-dribbble-outline"></i></a></p>
                </div>

            </div>
        </div>
    </section>


	<%= render "/welcome/newsletter" %>

	<script type="text/javascript">
	$(window).load(function(){
		new WOW().init();
		$(".testimonials").flexslider({
			directionNav : false,
			controlNav : false,
			smoothHeight : true,
		});
	});
	</script>