<!-- HERO SECTION  -->
	<div class="site-hero">
		<ul class="slides">
			<li>
				<p style="font-size:20px; padding-bottom: 10px;">The Travel Blog Directory</p>
				<div class="big-title uppercase montserrat-text">The Best Travel Blogs</div>
				<div><span class="small-title uppercase montserrat-text"><a href="#">SUBMIT YOUR BLOG</a></span></div>
				
			</li>
			<!-- <li>
				<div><span class="small-title uppercase montserrat-text">take part</span></div>
				<div class="big-title uppercase montserrat-text">FILL THE FORM</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.  </p>
			</li> -->
		</ul>

	</div>

	<hr style="top: -380px; position: relative; width: 80%; left: 144px;">

	<!-- HISTORY OF AGENCY -->
	<div class="container">
		<div class="agency">
			<div class="col-md-5 col-sm-12">
				<div class="row">
				<!-- 	<img src="images/agency.jpg" alt="image"> -->
        <%= image_tag("agency.jpg", alt: "image") %>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6 col-sm-12">
				<div class="row">
					<div class="section-title">
						<span>2016 TRAVEL BLOG SURVEY</span>
					</div>
					<p style="text-align: justify;">
						Travel Often launched its 2016 Travel Blog surveys that aims at unveiling the latest trends in travel blogging from content, audience, metrics to monetization technics. 
						Where do bloggers get their traffic from? How do they manage their leads? What tool do they use to engage with their subscribers? Get insights on internet's largest blog ecosytem by getting through the <span style="font-weight: 700;">2016 Travel Blog Survey </span>
					</p>
					<a href="#" class="btn green" style=" margin-top:30px"><span>PRE-ORDER 295$</span></a> 
					<a href="#" class="btn orange" style=" margin-top:30px"><span>GET FOR FREE</span></a> 
				</div>
			</div>
		</div>
	</div>


	<!-- WHY CHOOSE US -->
	<section class="services">
		<div class="container">
			<div class="row">
				<div class="section-title col-md-6 ">
					<span>THE TRAVEL DIRECTORY</span>
					
					<p style="color:#ff5f00;"> * Estimated Visits</p>
					
				</div>

				<div class="col-md-6">
					<div class="row">

						<form action="#" method="post">
							<div class="col-md-6 search-box">
								<div class="input_1" style="margin-bottom:30px">
									<input type="text" name="search">
									<span>SEARCH</span>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
			

			<div class="col-md-6 col-sm-12 services-left wow fadeInUp">
				<div class="row" style="margin-bottom:50px">
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/rocket.png" /> -->
              <%= image_tag("icon/rocket.png", alt: "rocket", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">+500K</span>
							<ul class="list">
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">656K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">556K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">546K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/beach.png" /> -->
              <%= image_tag("icon/beach.png", alt: "beach", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">+250K</span>
							<ul class="list">
								<li class="li-especial"><a href="http://www.guias-viajar.com" target="_blank">1. guias-viajar</a><br><span style="font-size:13px; color:#ff5f00;">496.3K</span></li>
								<li class="li-especial"><a href="http://www.viajeroscallejeros.com" target="_blank">2. viajeroscallejeros</a><br><span style="font-size:13px; color:#ff5f00;">421.1K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="directorio-1.html" target="_blank"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/caravan.png" /> -->
              <%= image_tag("icon/caravan.png", alt: "caravan", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">United States</span>
							<ul class="list">
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/travel.png" /> -->
              <%= image_tag("icon/travel.png", alt: "travel", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">France</span>
							<ul class="list">
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 services-left wow fadeInUp">
				<div class="row" style="margin-bottom:50px">
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/check-out.png" /> -->
              <%= image_tag("icon/check-out.png", alt: "check-out", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">+50K</span>
							<ul class="list">
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/parasailing.png" /> -->
              <%= image_tag("icon/parasailing.png", alt: "parasailing", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">+1K</span>
							<ul class="list">
								<li class="li-especial"><a href="http://www.vero4travel.com" target="_blank">1. vero4travel</a><br><span style="font-size:13px; color:#ff5f00;">66.3K</span></li>
								<li class="li-especial"><a href="http://www.mochilerostv.com" target="_blank">2. mochilerostv</a><br><span style="font-size:13px; color:#ff5f00;">63.6K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/sunbed.png" /> -->
              <%= image_tag("icon/sunbed.png", alt: "sunbed", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">Spain</span>
							<ul class="list">
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<!-- <img class="icon-top-directory" src="assets/img/icon/backpack.png" /> -->
              <%= image_tag("icon/backpack.png", alt: "backpack", class: "icon-top-directory") %><br />
							<span class="montserrat-text uppercase service-title">Philippines</span>
							<ul class="list">
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<li class="li-especial">BLOG url example<br><span style="font-size:13px; color:#ff5f00;">356K</span></li>
								<a href="#"><p class="more-info"> see more</p></a>
							</ul>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</section>


	

	<!-- newsletter -->
	<section class="green-section wow fadeInUp" style="padding:50px 0">
		<div class="container">
			<div class="col-md-6 col-sm-12">
				<div class="row">
					<span class="white-text montserrat-text uppercase" style="font-size:30px;display:block;">
						YOU OWN A TRAVEL BLOG?
					</span>
					<a href="#" class="btn white" style="margin-top:30px"><span>BE PART</span></a>
				</div>
			</div>

			<div class="col-md-6 col-sm-12">
				<div class="row">
					<div class="white-section" style="padding:20px">
						<span class="montserrat-text uppercase" style="font-size:24px">stay informed with our newsletter</span>
						<p>
							Get the latest trends in Travel Blogging.
						</p>
						<form action="#" method="post">
							<div class="input_1">
								<input type="text" name="email">
								<span>your email</span>
							</div>
							<button type="submit" class="btn green" style="margin-top:20px"><span>send</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      new WOW().init();

      // initialise flexslider
      $('.site-hero').flexslider({
        animation: "fade",
        directionNav: false,
        controlNav: false, 
        keyboardNav: true,
        slideToStart: 0,
        animationLoop: true,
        pauseOnHover: false,
        slideshowSpeed: 4000, 
      });


      // initialize isotope
      var $container = $('.portfolio_container');
      $container.isotope({
        filter: '*',
      });
     
      $('.portfolio_filter a').click(function(){
        $('.portfolio_filter .active').removeClass('active');
        $(this).addClass('active');
     
        var selector = $(this).attr('data-filter');
        $container.isotope({
          filter: selector,
          animationOptions: {
            duration: 500,
            animationEngine : "jquery"
          }
        });
        return false;
      }); 
    });
  </script>